{{#if this.sidebarSettings.[0]}}
	<input type="checkbox" id="sailpoint-sidebar__switch"/>
	<label class="sailpoint-sidebar__toggle" for="sailpoint-sidebar__switch"></label>

	<div class="sailpoint-sidebar">
		{{#each this.sidebarSettings as |sbItem i|}}
			<input type="checkbox" id="sb-toggle-{{i}}-{{sbItem.name}}"/>
			<li
				class="site-menu__list-item
					{{if sbItem.isDropdown
						(if sbItem.isDropdownAlwaysOpen 'sb-title' 'sb-toggle')
					}}"
			>
				{{#if sbItem.link}}
					<a class="site-menu__list-link {{if sbItem.isExternal 'sb-ext-link'}}" href="{{sbItem.link}}">
						{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
						{{sbItem.name}}
					</a>
				{{else}}
					<a class="site-menu__list-link">
						{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
						{{sbItem.name}}
					</a>
				{{/if}}
				<label for="sb-toggle-{{i}}-{{sbItem.name}}"></label>
			</li>
			{{#if sbItem.isDropdown}}
				<ul class="site-menu__list">
					{{#each sbItem.upperSubmenu as |sbItem i|}}
						<input type="checkbox" id="sb-toggle-{{i}}-{{sbItem.name}}"/>
						<li
							class="site-menu__list-item
								{{if sbItem.isDropdown
									(if sbItem.isDropdownAlwaysOpen 'sb-title' 'sb-toggle')
								}}"
						>
							{{#if sbItem.link}}
								<a class="site-menu__list-link {{if sbItem.isExternal 'sb-ext-link'}}" href="{{sbItem.link}}">
									{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
									{{sbItem.name}}
								</a>
							{{else}}
								<a class="site-menu__list-link">
									{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
									{{sbItem.name}}
								</a>
							{{/if}}
							<label for="sb-toggle-{{i}}-{{sbItem.name}}"></label>
						</li>
						{{#if sbItem.isDropdown}}
							<ul class="site-menu__list">
								{{#each sbItem.middleSubmenu as |sbItem i|}}
									<input type="checkbox" id="sb-toggle-{{i}}-{{sbItem.name}}"/>
									<li
										class="site-menu__list-item
											{{if sbItem.isDropdown
												(if sbItem.isDropdownAlwaysOpen 'sb-title' 'sb-toggle')
											}}"
									>
										{{#if sbItem.link}}
											<a class="site-menu__list-link {{if sbItem.isExternal 'sb-ext-link'}}" href="{{sbItem.link}}">
												{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
												{{sbItem.name}}
											</a>
										{{else}}
											<a class="site-menu__list-link">
												{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
												{{sbItem.name}}
											</a>
										{{/if}}
										<label for="sb-toggle-{{i}}-{{sbItem.name}}"></label>
									</li>
									{{#if sbItem.isDropdown}}
										<ul class="site-menu__list">
											{{#each sbItem.lowerSubmenu as |sbItem i|}}
												<li class="site-menu__list-item">
													{{#if sbItem.link}}
														<a class="site-menu__list-link {{if sbItem.isExternal 'sb-ext-link'}}" href="{{sbItem.link}}">
															{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
															{{sbItem.name}}
														</a>
													{{else}}
														<a class="site-menu__list-link">
															{{#if sbItem.icon}} {{d-icon sbItem.icon}} {{/if}}
															{{sbItem.name}}
														</a>
													{{/if}}
												</li>
											{{/each}}
										</ul>
									{{/if}}
								{{/each}}
							</ul>
						{{/if}}
					{{/each}}
				</ul>
			{{/if}}
		{{/each}}
	</div>
{{/if}}
