{{#unless isHidden}}
	{{plugin-outlet
		name="category-list-above-each-category"
		connectorTagName=""
		tagName=""
		args=(hash category=category)
	}}
	<tr
		data-category-id={{this.category.id}}
		data-notification-level={{this.category.notificationLevelString}}
		class="{{if
			this.category.description_excerpt
			"has-description"
			"no-description"
		}}
		{{if this.category.uploaded_logo.url "has-logo" "no-logo"}}
		{{if this.category.subcategories "has-subcategories" ""}}"
	>
		<td
			class="category
				{{if this.category.subcategories "parent-category"}}
				{{if isMuted "muted"}}
				{{if noCategoryStyle "no-category-style"}}"
			style={{category-color-variable this.category.color}}
		>
			<a
				class="enclosing-category-link"
				href="/c/{{this.category.parentCategory.slug}}/{{this.category.slug}}/{{this.category.id}}"
			>
				{{category-title-link category=category}}
				{{#if this.category.description_excerpt}}
					<div class="category-description">
						{{dir-span this.category.description_excerpt}}
					</div>
				{{/if}}
			</a>
		</td>
		
		<td class="topics">
			<div title={{this.category.topic_count}}>
				{{d-icon "comments"}}
				{{number this.category.topic_count}}
			</div>
			{{category-unread category=category tagName="div" class="unread-new"}}
		</td>
		
		<td class="replies">
			<div title="post count">
				{{d-icon "reply"}}
				{{number this.category.post_count}}
			</div>
		</td>
		{{#if showTopics}}
			<td class="latest">
				{{#if this.category.topics.length}}
					{{#each this.category.topics as |topic|}}
					<div class="featured-topic">
						<span class="categories-latest-topic-avatar">
							<a
								href="/u/{{topic.last_poster.username}}"
								data-user-card={{topic.last_poster.username}}
							>
								{{avatar topic.last_poster imageSize="small"}}
							</a>
						</span>
						<FeaturedTopic @topic={{topic}} />
					</div>
					{{/each}}
					{{else}}
						<li class="empty-topic"></li>
				{{/if}}
			</td>
		{{/if}}
	</tr>
{{/unless}}
